image: "registry.gitlab.com/luciocarreras/sayonara-player:bionic"
stages:
  - build
  - test
  - packaging
  - deploy


# Build
build-sayonara:
  stage: build
  script: 
    - mkdir -p build && cd build
    - cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr -DWITH_TESTS=1 -DWITH_COTIRE=1 -DLINK_GSTREAMER_PLUGINS=1 -DCMAKE_PREFIX_PATH=/opt/qt
    - make -j`nproc`
    - make install DESTDIR=AppDir
  artifacts:
    untracked: true
    expire_in: 1 day
  only:
    - merge_requests
    - tags


# Unit tests
test-sayonara:
  stage: test
  dependencies: 
    - build-sayonara
  variables:
    QT_QPA_PLATFORM: "offscreen"
  script:
    - cd build
    - make test
  artifacts:
    when: on_failure
    untracked: true
    expire_in: 2 days
  only:
    - merge_requests
    - tags


# Fedora
## Package Fedora
package-fedora:
  image: "fedora:latest"
  stage: packaging
  variables:
    RPM_BUILD_NCPUS: 1
  script:
    - dnf --refresh --assumeyes makecache
    - dnf --assumeyes install git make cmake gcc-c++ desktop-file-utils libappstream-glib libnotify-devel qt5-qtbase-devel qt5-qttools-devel qt5-qtsvg-devel gstreamer1-plugins-base-devel taglib-devel zlib-devel hicolor-icon-theme auto-buildrequires
    - rm -rf build && mkdir build && cd build
    - cmake ..
    - cd ..
    - dist/rpm/fedora-rpm.sh ${CI_COMMIT_SHA} ./build/dist/sayonara.spec
  artifacts:
    paths:
      - /root/rpmbuild/RPMS
    expire_in: 1 day
  when: manual


# AppImage
## Package AppImage
package-appimage:
  stage: packaging
  dependencies:
    - build-sayonara
  script:
    - dist/AppImage/create-appimage.sh ${CI_COMMIT_SHORT_SHA}
  artifacts:
    paths:
      - build/*.AppImage
    expire_in: 1 day
  only:
    - merge_requests


# Snap
## Package Snap
package-snap:
  image: registry.gitlab.com/luciocarreras/sayonara-player:core20
  stage: build
  tags:
    - luke-1
  script:
    - export LC_ALL=C.UTF-8
    - export LANG=C.UTF-8
    - export SNAP_ARCH=amd64
    - export SNAPCRAFT_BUILD_INFO=1
    - export SNAPCRAFT_SETUP_CORE=1
    - apt-get update -qq
    - apt-get install -y -qq git
    - echo $(snapcraft --version)
    - ls -l ./snap/local/
    - ./snap/local/set-snap-version.sh
    - snapcraft --destructive-mode --enable-experimental-extensions
  artifacts:
    when: always
    paths:
      - ./*.snap
    expire_in: 1 week
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_REF_NAME == 'master'


# Deploy Snap
deploy-snap:
  image: registry.gitlab.com/luciocarreras/sayonara-player:core20
  stage: deploy
  dependencies:
    - package-snap
  tags:
    - luke-1
  script:
    - echo $SNAPCRAFT_LOGIN | base64 --decode --ignore-garbage > snapcraft.login
    - snapcraft login --with snapcraft.login
    - snapcraft push *.snap --release edge
  only:
    - master
    - tags


## Upload ts to transifex
package-language:
  stage: packaging
  script:
    - mkdir -p tx
    - /opt/qt/bin/lupdate -no-obsolete -no-sort -locations relative -source-language en -target-language en ./src -ts tx/sayonara_lang_en.ts
    - cd tx
    - export TX_TOKEN="$TX_API_KEY"
    - tx init --token="$TX_API_KEY" --force --no-interactive
    - tx config mapping -r sayonara-player.sayonara_lang_en -l en -t QT -s en -f sayonara_lang_en.ts --execute "sayonara_lang_<lang>.ts"
    - tx push -s
  artifacts:
    paths:
      - tx/*.ts
    expire_in: 2 days
  only:
    - master
    - tags
