[Desktop Entry]
Version=1.0
Type=Application
GenericName=Audio Player
Name=Sayonara
Comment=Music player and music library manager
Comment[de]=Musik Player und Bibliotheksverwaltung
Comment[de_DE]=Musik Player und Bibliotheksverwaltung
Exec=sayonara %F
TryExec=sayonara
Icon=sayonara
Terminal=false
Categories=Application;Audio;AudioVideo;Player;Music;Qt;
MimeType=audio/mpeg;audio/x-mpegurl;audio/wav;audio/x-wav;audio/basic;application/x-ogg;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mp3;audio/x-mpeg;audio/x-flac;x-content/audio-player;
